// Override pipeline defaults for Imperial CX3 (PBS Pro + Singularity)

singularity {
    enabled        = true
    autoMounts     = false
    runOptions     = '--bind /rds/:/rds/ --no-home'
    cacheDir       = '/rds/general/project/streptococcal_surveillance/live/Fleming/singularity_cache'
}

executor {
    name      = 'pbs'
    queueSize = 50
}

process {
    executor = 'pbs'
    queue    = 'v1_small24'

    withName: 'CAT_FASTQ' {
        cpus   = 2
        memory = '8 GB'
        time   = '2h'
        queue  = 'v1_small24'
    }
    withName: 'INDEX_REF' {
        cpus   = 2
        memory = '4 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'FASTQC' {
        cpus   = 2
        memory = '4 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'CUT_PRIMERS' {
        cpus   = 4
        memory = '8 GB'
        time   = '2h'
        queue  = 'v1_small24'
    }
    withName: 'MASK_READS' {
        cpus   = 4
        memory = '8 GB'
        time   = '2h'
        queue  = 'v1_small24'
    }
    withName: 'MINIMAP2_INDEX' {
        cpus   = 4
        memory = '8 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'MINIMAP2_ALIGN' {
        cpus   = 8
        memory = '16 GB'
        time   = '4h'
        queue  = 'v1_small24'
    }
    withName: 'SAMTOOLS_SORT' {
        cpus   = 4
        memory = '8 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'SAMTOOLS_INDEX_BAM' {
        cpus   = 2
        memory = '4 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'CALL_VARIANTS:CLAIR3_CALL' {
        cpus   = 8
        memory = '32 GB'
        time   = '12h'
        queue  = 'v1_medium72'
    }
}
